.wrap {
         position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 10%;
         margin: 0 auto;/*центрируем ее*/
         background: #09171c;
        }
 
.bblock {
        float: right; /*Задаем обтекание*/
        font-size: 1.45em;
		font-family: Courier New;
        background: #09171c;
        color: #ffffff;
        width: 7%; /*Фиксируем ширину блока*/
        margin-right: 0.7%;
		margin-left: 0.5%;
		margin-top: 1.5%;
        text-align: center; /*Центрируем текст по горизонтали*/
}
.bblock a
{
  color: #dedcdc;
text-decoration: none
}
.bblock a:hover{
	color:#ffffff;
	text-decoration: none
}
.wrap :last-child {
        margin-right: 0.8%;/*Убираем поле последнего div-а*/
		margin-left:2.5%;
		margin-top: 0.8%;
		width:6%;
                       }
#Packet{
	margin-right: 29%;
}