*{
	font-family: Gabriola,sans-serif;
}
html {
	 
	 }
body {
	   
	 }
h1{
  color:#F23E16;
  font-size: 32px;
  font-weight: 900;
}
h2{
	font-size: 26px;
}
p{
	font-size: 20px;
}
pre{
	font-size: 14px;
	text-decoration:
	
}
#Puskin{
  color:#FF7C00;
}
#popal{
	border: 3px dashed #EFF453;
	height: 25px;
	width: 300px;
	margin: 10px;
	background-color: black;
	color:red;
	padding: 10px;
	font-size: 20px;
	
}
#poper{
	width: 500px;
	height: 50px;
	border: 10px dashed silver;
	margin: 0;
	color: ACACAC;
	float: left;
	background-color: #8F8F8F;
}
#Lermontov{
  color:#8FFF00;
}		
#Block{
  color:#EC00FF;
}	
p.Style, p{
	color:green
	font-size: 20px;
}			
p#pop:first-line{
	color: red;
	font-weight: 100;
}
.Poets:hover{
    color:#DC43EF;
	font-size: 18px;
	
}
.Poets{
    color:blue;
	font-size: 16px;
}
.hrifb:hover{
	color:green;
	font-size: 14px;
}

.hrifb{
	color:red;
	font-size: 12px;
}
.Pisaka{
	font-size: 28px;
}