@charset "utf-8";
html{
	 margin: 0; /*центрируем её */
	padding: 0;
	font-family: Courier New;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #252525;
}
/* Стили для шапки */
.wrap {
		/* позиция фиксирована */
		 position: fixed;
		top: 0;
		left: 0;
		right: 0;
		/* ширина на полный экран */
		width: 100%;
		z-index: 1;
		/* регулировка высоты */
		height: 8.5%;
		 margin: 0 auto;/*центрируем ее*/
		 /* бэграунд цвет */
		 background: #09171c;
		 min-width: 1620px;
		 max-width: 2640px;
}
 
.bblock {
	float: right; /*Задаем обтекание*/
	/* размер шрифта */
	font-size: 1.45em;
	/* тип шрифта */
	font-family: Courier New;
    background: #09171c;
    color: #ffffff;
    width: 8%; /*Фиксируем ширину блока*/
    margin-right: 0.7%;
	margin-left: 0.5%;
	margin-top: 1.5%;
    text-align: center; /*Центрируем текст по горизонтали*/
	z-index: 0;
	min-width: 90px;
	max-width: 160px;
}
.bblock a
{
  color: #dedcdc;
text-decoration: none;
}
.bblock a:hover{
	color:#ffffff;
	/* отключаем декорации которые включены у гиперссылок */
	text-decoration: none;
}
.wrap > .bblock:last-child {
	margin-right: -2.3%;
	margin-top: 0.6%;
	width: 4%;
	margin-left: 14.1%;
}
#Logo{
	width: 68%;
	height: 50px;
}
#Profile{
	width: 60px;
	height: 50px;
	margin-top:  -10%;
	margin-left:  -59%;
	border-radius: 100px; /* Радиус скругления */
	box-shadow: 0 0 0 3px #04c904, 0 0 13px #333; /* Параметры теней */
	cursor: pointer;
	min-width: 60px;
	max-width: 160px;
}
#ProvileBlock{
	height: 40px;
}
#BlockProvile{
	width: 130%;
	height: 200%;
	margin-left: -50%;
	background-color: #09171c;
	margin-top: 15%;
	min-width: 60px;
	max-width: 200px;
}
.ButtonProvile{
	width: 75%;
	margin-top: 10%;
	height: 50%;
}
.ButtonProvile a{
	color: #000000;
	text-decoration: none;
}
#Packet{
	margin-right: 13em;
}
#Reg{
	margin-right: 5em;
	width: 6%;
	margin-top: 0.8%;
}
#Names{
	margin-right: -0.4%;
	margin-left:2.5%;
	margin-top: 0.8%;
	width:6%;
}
#WorkStr{
	margin-right: -0.4%;
}
/* Стили для Slide */
.slider {
	left: 0;
	top:0;
	right: 0;
	width: 100%;
	margin-top: 4em;
	background-color: #BAB9B9;
	height: 37em;
	min-width: 400px;
	max-width: 2640px;
	
}

.slider-wrapper {
	width: 42%;
	height: 400px;
	position: relative;
	margin-left: 32%;
	min-width: 500px;
	max-width: 2440px;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms linear;
	margin-top: 5em;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.slider-nav {
	height: 40px;
	width: 42%;
	margin-top: 5.5em;
	margin-left: 32%;
	min-width: 500px;
	max-width: 2440px;
}

.slider-nav button {
	border: none;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	text-indent: -9999em;
	background-color: transparent;
	background-repeat: no-repeat;
}

.slider-nav button:focus {
	outline-style: none;
}

.slider-nav button.slider-previous {
	float: left;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTc2QkYxMDcyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTc2QkYxMDgyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNzZCRjEwNTJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNzZCRjEwNjJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PucyzUQAAAI7SURBVHja1JlNK0RRGMfPXEphksb7y8JLUhZKUj6B3WyUJMonIMuxm4XyUljMN6BBKQsR8wVsJDZYDBZGUTY2pDD+Z/rfuqTcuee5M3ee+jV17j3/+7/33Puc55wJKe8xDEbAIGgETaCNxzLgETyBU3AMTrxcJJTn+e1gDkyBOrZdgDR4ALds66TZLtDPtmewAdbAvRKOCFgCWfAOdsE0CLvoG+a5u+ybpVZEytw4RTWroMFAq4Eatt64qbkFCu2BbsER6aZmltfIOyyHQEz5FzHHA7Dy6WibG1X+x6jDpKtYZIeoKlxEec1Ft3cTV4WP+H+jptPBF0ip4kWKHv5MX8u8g5YiGmyhh+XfB5p5IKGKHwl6aXY2roMPlzODm9DiK5yf840wvaw7G1/AvpC5CnDDp9DqUWOfnnIxQLEJAXP1rGTeQI+BzgQ9Ddif9yeoMTSnh+aKwv2GWjX0lEt3R+DcULAa3NFcr9Croj0dWSx70oal2Bk/jD5wLWRQv8cRi1/ag0eRWo6ALkyHwKVgusnYWUAPy4xHkUP27/AhH85qbctQJMnfeb+ydjkfZZfH/ptMqlugSihVKce6JlPO1VergdA2J/gd3vCYkME2ehNJMzom+T4mJdOMZKJ2LrC2JRO15FSnOMRa7wBUSkx10sWC4jr41eDj+1Es+FFu2RmiTKrcCnzBGviSvyQWTYFfdpbEwr0ktj5KYvPIjsBuv/01vwZyA9O57ijKFnDgN9FDBk+1IH9DfAswAH+nuqbSIF3xAAAAAElFTkSuQmCC');
	display: none;

}

.slider-nav button.slider-next {
	float: right;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTc2QkYxMDMyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTc2QkYxMDQyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNzZCRjEwMTJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNzZCRjEwMjJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PggGK0EAAAIwSURBVHja1JlNK0RRHMbPXFNKJgnjZcYCk5SFkpRPYGcjTKJ8ArIcOwvlpbyUb6AmacpChC9gI7HBwrAwirKxIYXxnOm5dWdSZu75z8ydp36N7p3z3OfeM/ec/zn8yr2GwDAYAM2gBYR5LgWewQs4ByfgzM1FfAV+vx3Mg2nQyGNXIMlQ9zzWCUIgAvp47BXsgA3wqITVAFZAGnyCBJgBgTzaBvjdBNum6dUgFS5KU806CBp4Belh+0VNwy3RaJ/dJaUIPdO8RsGyHAYxVTzFHA/AKqShHW5UFV+jjpB5aZkNRlTpNMJrLud7N4uq9Fr8r9f0cPADTlX5dMoMfw5fq7yDtjIGbGOG1dwTrTyxrcqvbWZpdR7cBF95zgy50nPwWq6hgQLMsuk8+AYOXBqGeMd6Pq4WCnnATBn18wKTBobd4IMFQ5NAwElm6rdf729QZ2jaR9Mblz8Vp+qYKTPcHYNLoa7pYcgHUGvopTMdWyx7kkIBb0EvX5gLw5LqTre3+BamBIeJazAIutg79S59npgt0yVzRRjPOuh95LL9rG5vqeJpgZ9xUyO9PtgSDhcXqJh1pkc/V19hwXB7YAxM8G+3CjGb6DBjP7kpAa9LZhMbqHelFkK5A7XpVFcDDukxLtQTWVOdabGgx7t3rn2llFUsmJZbVcAvGO7PcsvzBavnS/6KWDR5ftlZEQv3itj6qIjNI1ue3X5zytMbmLbKtgXs+U10n8FTLcm/IX4FGADop7oo5vCO1wAAAABJRU5ErkJggg==');
}	
/* Стили для Footer */

/* Стили для описания работ */
.bgwork{
		top: 0;
		left: 0;
		right: 0;
		width: 50%;
		z-index: 0;
		/* регулировка высоты */
		height: 80%;
		 margin: 0 auto;/*центрируем ее*/
		 /* бэграунд цвет */
		 background: #303030;
		 min-width: 400px;
		 max-width: 2640px;
		 color: #63f84c;
		 border: 1px solid #9b9b9b;
		 border-radius: 10px;
		}
.work{
	top: 0;
	left: 0;
	right: 0;
	min-width: 400px;
	max-width: 2640px;
	font-size: 1.3em;
}
.blockprevio{
	width: 310px;
	height: 200px;
	float: left;
	margin-left: 12%;
	margin-top: 6%;
	border: 2px solid #36c020;
	border-radius: 10px;
}
.Prvio{
	top: 0;
	left: 0;
	right: 20%;
	width: 54%;
	/* самый "первый" блок */
	z-index: 0;
	height: 20em;
	/* регулировка высоты */
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 min-width: 200px;
	 max-width: 2640px;
}
 /* стили регистрации */
.continer{
	right: 1%;
	position:absolute;
	top: 0;
	left: 0;
	width: 60%;
	margin: 2em auto;
	height: 100%;
	margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #2e2e2e;
	 min-width: 720px;
	 max-width: 2640px;
	 border: 1px solid #fff; /* Белая рамка */
	 box-shadow: 0 0 13px #fff; /* Параметры теней */
	 border-bottom: none;
	 border-top: none;
}
#Registre{
	text-align: center;
	color: white;
}
.from-control{
	width: 100%;
	height: 14%;
	margin-top: 6%;
	margin-left: 5%;
	min-width: 400px;
	max-width: 2640px;
}
.btn{
	width: 20em;
	height: 2em;
	margin-top: 3.5%;
	margin-left: 30%;
}
.Unit{
	right: 0%;
	position:absolute;
	left: 0;
	width: 50%;
	margin: 2em auto;
	margin-top: 10%;
	height: 35em;
	margin: 0 auto;/*центрируем ее*/
	min-width: 100px;
	max-width: 2640px;
}
#error_email{
	width: 70%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_login{
	width: 70%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_replaypassword{
	width:70%m;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_password{
	width: 70%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#loaderIcon{
	width: 120px;
	height: 100px;
	margin-left: 15em;
}
#user-availability-status{
	margin-left: 1.8em;
	top: 2em;
	width: 11em;
	height: 2em;
}
#user-email{
	width: 11em;
	height: 2em;
	margin-left: 1.8em;
	top: 2em;
}
#error_regpassword{
	height: 2em;
	color:#afafaf;
}
#email{
	margin-top: -1em;
}
#password{
	margin-top: -1em;
}
#moveauth{
	text-align: center;
	margin-top: 4%;
	margin-left: 10em;
	color: #d8a6a6;
}
#moveauth a:visited{
	color:#b8b8b8;
}
#moveauth a:active{
	color:#ececec;
}
#movereg{
	text-align: center;
	margin-top: 5%;
}
#movereg a:visited{
	color:#b8b8b8;
}
#movereg a:active{
	color:#ececec;
}
/* стили авторизации */
.row{
	right: 1%;
	position:absolute;
	top: 0;
	left: 0;
	width: 50%;
	margin: 2em auto;
	height: 50%;
	margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #2e2e2e;
	 margin-top: 10em;
	 min-width: 400px;
	 max-width: 2640px;
	 border: 1px solid #fff; /* Белая рамка */
	 box-shadow: 0 0 13px #fff; /* Параметры теней */
}
.from-control-auth{
	width: 60%;
	height: 5em;
	margin-top: 2%;
	margin-left: 20%;
	min-width: 200px;
	max-width: 2640px;
}
.Auth{
	right: 0%;
	left: 0;
	width: 50%;
	margin-top: 10%;
	height: 35em;
	margin: 0 auto;/*центрируем ее*/
	min-width: 400px;
	max-width: 2640px;

}
#Autheristre{
	text-align: center;
	color:white;
}
.btna{
	width: 20em;
	height: 2em;
	margin-top: 5.5%;
	margin-left: 22%;
}
#user-availability-status-auth{
	margin-left: 1em;
	top: 2em;
	width: 7em;
	height: 1em;
}
/* Стили для комментариев */
.ListBlock{
	position: absolute;
	background-color: #f5f5f5;
	width: 50%;
	margin-left: 25%;
	height: 45%;
	min-width: 400px;
	max-width: 2640px;
}
.CommentBlock{
	right: 20%;
	width: 60%;
	z-index: 0;
	/* регулировка высоты */
	height: auto;
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #303030;
	 min-width: 400px;
	 max-width: 2640px;
	 border: 1px solid #9b9b9b;
	 border-radius: 10px;
	 border-bottom: none;
	 border-bottom-left-radius: 0px;
	 border-bottom-right-radius: 0px;
	}
textarea{
	width: 80%;
	resize: none;
	margin-top: 2em;
	margin-left: 4em;
	min-width: 400px;
	max-width: 2640px;
}
h2{
	margin-top: -0.3em;
	margin-left: 0.8em;
}
h1{
	text-align: center;
	color:#b4b4b4;
}
#NullComment{
	text-align: center;
	color: #b4b4b4;
}
.ImgProvile{
	width: 55px;
	height: 45px;
	border-radius: 100px; /* Радиус скругления */
	box-shadow:0 0 0 3px #04c904, 0 0 15px #333; /* Параметры теней */
	float: left;
	margin-left: 1%;
	margin-top: 1%;
}
.koment{
	background-color: #ffffff;
	width: 68%;
	height: 5em;
	margin-left: 14%;
	margin-top: 1%;
	min-width: 200px;
	max-width: 2640px;
}
.name{
	float: left;
	margin-left: 2.5%;
	margin-top: 0.6%;
	min-width: 20px;
	max-width: 2640px;
}
.date{
	float: left;
	margin-left: 1%;
	margin-top: 0.6%;
	min-width: 20px;
	max-width: 2640px;
}
.Message{
	float: right;;
	margin-right: 0.5%;
	margin-top: 1%;
	width: 89%;
	background-color: #000000;
	color:#63f84c;
	min-width: 200px;
	max-width: 2640px;
}
/* Стили для фотера */
.Fotter{
	margin-top: 0%;
	float: left;
	left:0;
	min-width: 400px;
	max-width: 2640px;
	font-size: 1em;
	color: #c0c0c0;
	background-color: #303030;
	width: 100%;
	min-width: 200px;
	max-width: 2640px;
}

#WarrningPlace{
	margin-left: 3.5em;
	color: #b4b4b4;
}
#error_comment{
	margin-left: 3.5em;
}
/* Контакты */
.Guper a:visited{
	color:#e9e9e9;
}
.Guper a:active{
	color:#63f84c;
}
.imgcont{
	width:60px;
	height:53px;
	margin-right: 1em;
	margin-top: -0.4em;
	cursor: pointer;
}
.bgwcont{
	top: 0;
	left: 0;
	right: 20%;
	width: 54%;
	z-index: 0;
	/* регулировка высоты */
	height: 5em;
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #303030;
	 min-width: 200px;
	 max-width: 2640px;
	 color: #63f84c;
	 border: 1px solid #9b9b9b; 
	 border-radius: 10px;
}
.ContacBlock
{
	float: left;
	margin-left: 0%;
	font-size: 1.4em;
	margin-top: 1em;
	min-width: 65px;
	max-width: 2640px;
}
h3{
	text-align: center;
	font-size: 1.5em;
	color:#7e7e7e;
}
#GitHub{
 margin-right: 1.5em;
 margin-left: 0.8em;
}
#VK{
	margin-left: -1em;
	margin-right: 1.5em;
}