@charset "utf-8";
html{
	 margin: 0; /*центрируем её */
	padding: 0;
	font-family: Courier New;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #252525;
}
/* Стили для шапки */
.wrap {
		/* позиция фиксирована */
		 position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		/* регулировка высоты */
		height: 8.5%;
		 margin: 0 auto;/*центрируем ее*/
		 /* бэграунд цвет */
		 background: #09171c;
		 min-width: 1520px;
		 max-width: 5120px;
}
@media (handheld){
	
}
@media (min-width: 1600px) and (max-width: 5120px){
	div{
		font-size: calc(15px + (50 - 15) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	div.slider{
		min-height: calc(600px + (1800 - 600) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	div.slider-wrapper{
		height: calc(380px + (1200 - 380) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	div.slider-nav button{
		background-size: calc(45px + (110 - 45) * ( (100vw - 1600px) / ( 5120 - 1600) )) calc(45px + (110 - 45) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		width: calc(45px + (110 - 45) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		height: calc(45px + (110 - 45) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	img.imgcont{
		min-width: calc(52px + (130 - 52) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	img#VK{
		margin-left: calc(-3% + (42 - 3) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	button.btn{
		width: calc(20em + (180 - 20) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		height: calc(2em + (16 - 2) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		font-size: calc(12px + (32 - 12) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	input.from-control{
		font-size: calc(12px + (36 - 12) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	div.from-control{
		font-size: calc(15px + (44 - 15) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	button.btna{
		width: calc(20em + (180 - 20) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		height: calc(2em + (16 - 2) * ( (100vw - 1600px) / ( 5120 - 1600) ));
		font-size: calc(12px + (32 - 12) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	input.from-control-auth{
		font-size: calc(12px + (36 - 12) * ( (100vw - 1600px) / ( 5120 - 1600) ));
	}
	div.blockprevio{
		min-height: 250px;
	}

}
@media (min-width: 800px) and (max-width: 1580px){
	div.blockprevio{
		min-height: 150px;
	}
	img.imgcont{
		min-width: calc(25px + (42 - 25) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div.wrap{
		min-width: 800px;
		max-width: 1580px;
		height: 6.9%;
	}
	div{
		font-size: calc(7px + (14 - 7) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	img#Logo{
		width: calc(50% + (70 - 50) * ( (100vw - 800px) / ( 1580 - 800) ));
	height: 100%;
	min-width: 40%;
	max-width: 100%;
	margin-left: calc(40% + (20 - 40) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div.bblock{
		height: 40%;
	}
	div.wrap > .bblock:last-child{
		height: 73%;
	}
	div.slider{
		min-height: calc(300px + (550 - 300) * ( (100vw - 800px) / ( 1580 - 800) ));
		min-width: 800px;
		max-width: 1580px;
	}
	div.slider-wrapper{
		height: calc(140px + (380 - 140) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div.slider-nav button{
		background-size: calc(25px + (44 - 25) * ( (100vw - 800px) / ( 1580 - 800) )) calc(25px + (44 - 25) * ( (100vw - 800px) / ( 1580 - 800) ));
		width: calc(25px + (44 - 25) * ( (100vw - 800px) / ( 1580 - 800) ));
		height: 40px;
	}
	div.Fotter{
		font-size: 8px;
	}
	div.ContacBlock{
		font-size: 1.1em;
		margin-top: 1.4em;
	}
	button.btn{
		width: calc(15em + (20 - 15) * ( (100vw - 800px) / ( 1580 - 800) ));
		height: calc(1.5em + (2.5 - 1.5) * ( (100vw - 800px) / ( 1580 - 800) ));
		font-size: calc(8px + (12 - 8) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	input.from-control{
		font-size: calc(7px + (11 - 7) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div.from-control{
		font-size: calc(7px + (15 - 7) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div#user-availability-status{
		margin-left: 1.7em;
		height: 2.2em;
	}
	div#user-email{
		margin-left: 1.7em;
		height: 2.2em;
		
	}
	div#error_login{
		margin-bottom: 2%;
		margin-top: 1%;
	}
	div#error_email{
		margin-bottom: 2%;
		margin-top: 1%;
	}
	button.btna{
		width: calc(15em + (20 - 15) * ( (100vw - 800px) / ( 1580 - 800) ));
		height: calc(1.5em + (2.5 - 1.5) * ( (100vw - 800px) / ( 1580 - 800) ));
		font-size: calc(8px + (12 - 8) * ( (100vw - 800px) / ( 1580 - 800) ));
		margin-left: 26%;
	}
	input.from-control-auth{
		font-size: calc(7px + (11 - 7) * ( (100vw - 800px) / ( 1580 - 800) ));
	}
	div#movereg{
		font-size: calc(8px + (16 - 8) * ( (100vw - 800px) / ( 1580 - 800) ));;
	}
}
@media (min-width: 800px) and (max-width: 1050px){
	span#moveauth{
		margin-left: 9.5em;
	}
	button.btna{
		margin-left: calc(37% + (55 - 37) * ( (100vw - 800px) / ( 1580 - 800) ));;
	}
}
.bblock {
	float: right; /*Задаем обтекание*/
	/* размер шрифта */
	font-size: 1.45em;
	/* тип шрифта */
	font-family: Courier New;
    background: #09171c;
    color: #ffffff;
	width: 8%; /*Фиксируем ширину блока*/
	height: 63%;
    margin-right: 0.7%;
	margin-left: 0.5%;
	margin-top: 1.5%;
    text-align: center; /*Центрируем текст по горизонтали*/
	z-index: 0;
	min-width: 60px;
	max-width: 5120px;
}
.bblock a
{
  color: #dedcdc;
text-decoration: none;
}
.bblock a:hover{
	color:#ffffff;
	/* отключаем декорации которые включены у гиперссылок */
	text-decoration: none;
}
.wrap > .bblock:last-child {
	margin-right: -2.3%;
	margin-top: 0.6%;
	width: 4%;
	height: 73%;
	margin-left: 1.1%;
}
#Logo{
	width: 100%;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
}
#Profile{
	width: 40%;
	height: 100%;
	margin-right: 100%;
	margin-top: -7%;
	border-radius: 100px; /* Радиус скругления */
	box-shadow: 0 0 0 3px #04c904, 0 0 13px #333; /* Параметры теней */
	cursor: pointer;
	min-width: 40%;
	max-width: 40%;
	max-height: 100%;
	min-height: 100%;
}
#ProvileBlock{
	height: 60%;
	width: 8%;
	min-width: 50px;
	max-width: 5120px;
}
#BlockProvile{
	width: 130%;
	height: 200%;
	margin-left: -45%;
	background-color: #09171c;
	margin-top: 15%;
	min-width: 130%;
	max-width: 140%;
}
.ButtonProvile:hover{
	color:#1be21b;
}
.ButtonProvile{
	width: 75%;
	margin-top: 10%;
	height: 60%;
	font-size: calc(7px + 0.7vw);
}
.ButtonProvile a{
	color: #000000;
	text-decoration: none;
}
#Packet{
	margin-right: 13em;
}
#Reg{
	margin-right: 5em;
	width: 6%;
	margin-top: 0.8%;
}
#Names{
	margin-right: -0.4%;
	margin-left:2.5%;
	margin-top: 0.8%;
	width:6%;
}
#WorkStr{
	margin-right: -0.4%;
}
/* Стили для Slide */
.slider {
	left: 0;
	top:0;
	right: 0;
	width: 100%;
	margin-top: 3em;
	background-color: #BAB9B9;
	height: 80%;
	min-width: 1600px;
	max-width: 5120px;
	min-height: 800px;
	max-height: 1600px;
	
}

.slider-wrapper {
	width: 42%;
	height: 450px;
	position: relative;
	margin-left: 33%;
	min-width: 42%;
	max-width: 42%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 500ms linear;
	margin-top: 5em;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.slider-nav {
	height: 80px;
	width: 42%;
	margin-top: 5.5em;
	margin-left: 33%;
	min-width: 42%;
	max-width: 42%;
}

.slider-nav button {
	border: none;
	display: block;
	width: 80px;
	background-size: 80px 80px;
	height: 80px;
	cursor: pointer;
	text-indent: -9999em;
	background-color: transparent;
	background-repeat: no-repeat;
}

.slider-nav button:focus {
	outline-style: none;
}

.slider-nav button.slider-previous {
	float: left;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTc2QkYxMDcyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTc2QkYxMDgyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNzZCRjEwNTJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNzZCRjEwNjJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PucyzUQAAAI7SURBVHja1JlNK0RRGMfPXEphksb7y8JLUhZKUj6B3WyUJMonIMuxm4XyUljMN6BBKQsR8wVsJDZYDBZGUTY2pDD+Z/rfuqTcuee5M3ee+jV17j3/+7/33Puc55wJKe8xDEbAIGgETaCNxzLgETyBU3AMTrxcJJTn+e1gDkyBOrZdgDR4ALds66TZLtDPtmewAdbAvRKOCFgCWfAOdsE0CLvoG+a5u+ybpVZEytw4RTWroMFAq4Eatt64qbkFCu2BbsER6aZmltfIOyyHQEz5FzHHA7Dy6WibG1X+x6jDpKtYZIeoKlxEec1Ft3cTV4WP+H+jptPBF0ip4kWKHv5MX8u8g5YiGmyhh+XfB5p5IKGKHwl6aXY2roMPlzODm9DiK5yf840wvaw7G1/AvpC5CnDDp9DqUWOfnnIxQLEJAXP1rGTeQI+BzgQ9Ddif9yeoMTSnh+aKwv2GWjX0lEt3R+DcULAa3NFcr9Croj0dWSx70oal2Bk/jD5wLWRQv8cRi1/ag0eRWo6ALkyHwKVgusnYWUAPy4xHkUP27/AhH85qbctQJMnfeb+ydjkfZZfH/ptMqlugSihVKce6JlPO1VergdA2J/gd3vCYkME2ehNJMzom+T4mJdOMZKJ2LrC2JRO15FSnOMRa7wBUSkx10sWC4jr41eDj+1Es+FFu2RmiTKrcCnzBGviSvyQWTYFfdpbEwr0ktj5KYvPIjsBuv/01vwZyA9O57ijKFnDgN9FDBk+1IH9DfAswAH+nuqbSIF3xAAAAAElFTkSuQmCC');
	display: none;

}

.slider-nav button.slider-next {
	float: right;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTc2QkYxMDMyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTc2QkYxMDQyRUNEMTFFNDk4RTdGNTFGNjdGRjYzREYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNzZCRjEwMTJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNzZCRjEwMjJFQ0QxMUU0OThFN0Y1MUY2N0ZGNjNERiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PggGK0EAAAIwSURBVHja1JlNK0RRHMbPXFNKJgnjZcYCk5SFkpRPYGcjTKJ8ArIcOwvlpbyUb6AmacpChC9gI7HBwrAwirKxIYXxnOm5dWdSZu75z8ydp36N7p3z3OfeM/ec/zn8yr2GwDAYAM2gBYR5LgWewQs4ByfgzM1FfAV+vx3Mg2nQyGNXIMlQ9zzWCUIgAvp47BXsgA3wqITVAFZAGnyCBJgBgTzaBvjdBNum6dUgFS5KU806CBp4Belh+0VNwy3RaJ/dJaUIPdO8RsGyHAYxVTzFHA/AKqShHW5UFV+jjpB5aZkNRlTpNMJrLud7N4uq9Fr8r9f0cPADTlX5dMoMfw5fq7yDtjIGbGOG1dwTrTyxrcqvbWZpdR7cBF95zgy50nPwWq6hgQLMsuk8+AYOXBqGeMd6Pq4WCnnATBn18wKTBobd4IMFQ5NAwElm6rdf729QZ2jaR9Mblz8Vp+qYKTPcHYNLoa7pYcgHUGvopTMdWyx7kkIBb0EvX5gLw5LqTre3+BamBIeJazAIutg79S59npgt0yVzRRjPOuh95LL9rG5vqeJpgZ9xUyO9PtgSDhcXqJh1pkc/V19hwXB7YAxM8G+3CjGb6DBjP7kpAa9LZhMbqHelFkK5A7XpVFcDDukxLtQTWVOdabGgx7t3rn2llFUsmJZbVcAvGO7PcsvzBavnS/6KWDR5ftlZEQv3itj6qIjNI1ue3X5zytMbmLbKtgXs+U10n8FTLcm/IX4FGADop7oo5vCO1wAAAABJRU5ErkJggg==');
}	
/* Стили для Footer */

/* Стили для описания работ */
.bgwork{
		top: 0;
		left: 0;
		right: 0;
		width: 50%;
		z-index: 0;
		/* регулировка высоты */
		height: 80%;
		 margin: 0 auto;/*центрируем ее*/
		 /* бэграунд цвет */
		 background: #303030;
		 min-width: 400px;
		 max-width: 5120px;
		 color: #63f84c;
		 border: 1px solid #9b9b9b; 
		 border-radius: 10px;
		 word-wrap: break-word;
		 padding: 0.5%;
		}
.work{
	top: 0;
	left: 0;
	right: 0;
	min-width: 400px;
	max-width: 5120px;
	font-size: 1.3em;
}
.blockprevio{
	width: 33%;
	height: 50%;
	float: left;
	margin-left: 12%;
	margin-top: 6%;
	border: 3px solid #36c020;
	border-radius: 10px;
	min-width: 33%;
	max-width: 33%;
	max-height: 60%;
}
.Prvio{
	top: 0;
	left: 0;
	right: 20%;
	width: 54%;
	z-index: 0;
	height: 20em;
	/* регулировка высоты */
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 min-width: 200px;
	 max-width: 5120px;
}
 /* стили регистрации */
.continer{
	right: 1%;
	position:absolute;
	top: 0;
	left: 0;
	width: 60%;
	margin: 2em auto;
	height: 100%;
	margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #2e2e2e;
	 max-width: 5120px;
	 border: 1px solid #fff; 
	 box-shadow: 0 0 13px #fff; /* Параметры теней */
	 border-top: none;
	 border-bottom: none;
	 
}
#Registre{
	text-align: center;
	color: white;
}
.from-control{
	width: 100%;
	height: 14%;
	margin-top: 6%;
	margin-left: 5%;
	max-width: 5120px;
}
.btn{
	width: 20em;
	margin-top: 0.5%;
	margin-left: 30%;
	border-radius: 12px;
	cursor: pointer;
	outline: none;
	border: 0;
}
.btn:hover{
	background-color: #a1a1a1;
}
.Unit{
	right: 0%;
	position:absolute;
	left: 0;
	width: 50%;
	margin: 2em auto;
	margin-top: 5%;
	height: 35em;
	margin: 0 auto;/*центрируем ее*/
	min-width: 100px;
	max-width: 5120px;
}
#error_email{
	width: 70%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_login{
	width: 70%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_replaypassword{
	width:70%m;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#error_password{
	width: 90%;
	height: 2em;
	margin-top: 3%;
	color: red;
}
#loaderIcon{
	width: 120px;
	height: 100px;
	margin-left: 15em;
}
#user-availability-status{
	margin-left: 1.6em;
	top: 2em;
	width: 11em;
	height: 2em;
}
#user-email{
	width: 11em;
	height: 2em;
	margin-left: 1.6em;
	top: 2em;
}
#error_regpassword{
	height: 2em;
	color:#afafaf;
}
#email{
	margin-top: -1em;
}
#password{
	margin-top: -1em;
}
#moveauth{
	text-align: center;
	margin-left: 7.5em;
	color: #d8a6a6;
}
#moveauth a:visited{
	color:#b8b8b8;
}
#moveauth a:active{
	color:#ececec;
}
#movereg{
	text-align: center;
	margin-top: 5%;
}
/* стили авторизации */
#movereg a:visited{
	color:#b8b8b8;
}
#movereg a:active{
	color:#ececec;
}
.row{
	right: 1%;
	position:absolute;
	top: 0;
	left: 0;
	width: 45%;
	margin: 2em auto;
	height: 50%;
	margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #2e2e2e;
	 margin-top: 10em;
	 min-width: 400px;
	 max-width: 5120px;
	 border: 1px solid #fff; 
	 box-shadow: 0 0 13px #fff; /* Параметры теней */
}
.from-control-auth{
	width: 60%;
	height: 10%;
	margin-top: 2%;
	margin-left: 20%;
	min-width: 60%;
	max-width: 60%;
}
.Auth{
	right: 0%;
	left: 0;
	width: 50%;
	margin-top: 10%;
	height: 35em;
	margin: 0 auto;/*центрируем ее*/
	min-width: 400px;
	max-width: 5120px;

}
#Autheristre{
	text-align: center;
	color:white;
}
.btna{
	width: 20em;
	height: 2em;
	margin-top: 5.5%;
	margin-left: 17%;
	border-radius: 12px;
	cursor: pointer;
	outline: none;
	border: 0;
}
.btna:hover{
	background-color: #575757;
	color: white;
}
/* Стили для комментариев */
.ListBlock{
	position: absolute;
	background-color: #f5f5f5;
	width: 50%;
	margin-left: 25%;
	height: 45%;
	min-width: 400px;
	max-width: 5120px;
}
.CommentBlock{
	right: 20%;
	width: 60%;
	z-index: 0;
	/* регулировка высоты */
	height: auto;
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #303030;
	 min-width: 400px;
	 max-width: 5120px;
	 border: 1px solid #9b9b9b;
	 border-radius: 10px;
	 border-bottom: none;
	 border-bottom-left-radius: 0px;
	 border-bottom-right-radius: 0px;
	}
#comment{
	width: 80%;
	height: 100px;
	resize: none;
	margin-top: 2em;
	margin-left: 4em;
	min-width: 80%;
	max-width: 90%;
	font-size: 16px;
}
#BtnSub{
	margin-left: 85%;
	width: 10%;
	height: 45px;
	color: #222222;
	border-radius: 100px;
	outline: none;
	border: 0;
	min-width: 10%;
	max-width: 11%;
	font-size: 16px;
	
}
#BtnSub:hover{
	color: #63f84c;
	background-color: black;
}
h2{
	margin-top: -0.3em;
	margin-left: 0.8em;
}
h1{
	text-align: center;
	color:#b4b4b4;
}
#AbWork{
	margin-top: 8%;
}
#NullComment{
	text-align: center;
	color: #b4b4b4;
}
.ImgProvile{
	width: 7%;
	height: 40%;
	border-radius: 100px; /* Радиус скругления */
	box-shadow:0 0 15px #333; /* Параметры теней */
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	min-width: 7%;
	max-width: 8%;
}
.koment{
	display:inline-block;
	background-color: #ffffff;
	width: 68%;
	margin-left: 14%;
	margin-top: 1%;
	min-width: 200px;
	max-width: 5120px;
	border-bottom: 10px solid #ffffff; 
	border-right: 10px solid #ffffff; 
}
.name{
	float: left;
	margin-left: 2.5%;
	margin-top: 0.6%;
	min-width: 20px;
	max-width: 5120px;
}
.date{
	float: left;
	margin-left: 1%;
	margin-top: 0.6%;
	min-width: 20px;
	max-width: 5120px;
}
.Message{
	float: right;
	margin-right: 0.5%;
	margin-top: 1%;
	width: 89%;
	background-color: #000000;
	color:#63f84c;
	min-width: 200px;
	max-width: 5120px;
	word-wrap: break-word;
}
/* Стили для фотера */
.Fotter{
	margin-top: 0%;
	float: left;
	left:0;
	font-size: 1em;
	color: #c0c0c0;
	background-color: #303030;
	width: 100%;
	min-width: 200px;
	max-width: 5120px;
}
#error_comment{
	margin-left: 3.5em;
}
/* Контакты */
.Guper a:visited{
	color:#e9e9e9;
}
.Guper a:active{
	color:#63f84c;
}
.Guper{
	padding-left: 0.4%;
}
.imgcont{
	width: 20%;
	height: 4.5%;
	margin-right: 1em;
	margin-top: -8%;
	cursor: pointer;
	min-width: 62px;
	max-width: 70px;
}
.bgwcont{
	top: 0;
	left: 0;
	right: 20%;
	width: 54%;
	z-index: 0;
	/* регулировка высоты */
	height: 5em;
	 margin: 0 auto;/*центрируем ее*/
	 /* бэграунд цвет */
	 background: #303030;
	 min-width: 200px;
	 max-width: 5120px;
	 color: #63f84c;
	 border: 1px solid #9b9b9b; 
	 border-radius: 10px;
	 padding-left: 0.5%;
}
.ContacBlock
{
	float: left;
	margin-left: 0%;
	font-size: 1.4em;
	margin-top: 1.3em;
	max-width: 5120px;
}
h3{
	text-align: center;
	font-size: 1.5em;
	color:#7e7e7e;
}
#GitHub{
 margin-right: 1.5em;
 margin-left: 0.8em;
}
#VK{
	margin-left: -6%;
	margin-right: 1.5em;
}
#GitBlock{
width: 10%;
}
#VKBlock{
	width: 10%;
	margin-left: 2%;
}